<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Doctors</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
  </head>
  <body>
    <div layout:fragment="content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="text-decoration-none text-dark" href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a class="text-decoration-none text-dark" href="/doctor/"
              >Doctors</a
            >
          </li>
        </ol>
      </nav>
      <div
        class="d-flex align-items-center justify-content-start bg-white p-3 rounded-3 border"
      >
        <form
          action="/doctor/"
          method="get"
          class="d-flex align-items-center justify-content-center"
        >
          <input
            th:value="${search}"
            type="text"
            name="search"
            id=""
            class="form-control"
            placeholder="Enter the name or speciality"
          />
          <button
            type="submit"
            class="btn rounded-3 c-btn-primary text-white ms-2 d-flex align-items-center"
          >
            <i class="fa-solid fa-magnifying-glass me-2"></i>search
          </button>
        </form>

      </div>

      <div class="row my-2">
        <div class="col-sm-12 text-center mt-5" th:if="${doctors.isEmpty()}">
          no doctors available
        </div>
        <div
          class="col-sm-12 col-md-6 my-1"
          th:each="doctor : ${doctors}"
          th:if="${doctor.isPublished()}"
        >
          <div class="container border d-flex p-2 w-100 rounded-3 bg-white">
            <img
              style="object-fit: cover; object-position: 50% 50%"
              th:src="@{${'/doctor/image/' + doctor.getId()}}"
              width="200px"
              height="200px"
            />
            <div class="p-3 w-100">
              <div
                class="d-flex align-items-center justify-content-between w-100"
              >
                <h2
                  class="text-capitalize me-2"
                  th:text='${doctor.getFirstName() + " " + doctor.getLastName()}'
                ></h2>
                <div
                  th:text="${doctor.getSpeciality()}"
                  class="badge glass-blue ms-2"
                ></div>
              </div>
              <div>
                <i class="fa-solid fa-phone me-2"></i>
                <span th:text="${doctor.getPhone()}"></span>
              </div>
              <div>
                <i class="fa-solid fa-envelope me-2"></i>
                <span th:text="${ doctor.getEmail()}"></span>
              </div>
              <div
                class="d-flex align-items-center justify-content-end w-100 mt-3"
              >
                <a
                  sec:authorize="hasAuthority('ROLE_PATIENT')"
                  class="btn c-btn-primary me-1"
                  th:href="@{/doctor/{id}/book-appointment(id=${doctor.getId()})}"
                  ><i class="fa-solid fa-calendar-check me-2"></i>Book
                  appointment</a
                >
                <form
                  sec:authorize="hasAuthority('ROLE_ADMIN')"
                  class="me-1 ms-1"
                  th:action="@{/doctor/delete/{id}(id=${doctor.getId()})}"
                  method="post"
                >
                  <button class="btn c-outline-primary">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </form>
                <a
                  sec:authorize="hasAuthority('ROLE_ADMIN')"
                  class="ms-1 btn btn-outline-success"
                  th:href="@{/doctor/{id}(id=${doctor.getId()})}"
                  ><i class="fa-solid fa-arrow-up-right-from-square"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
